@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-primary: #1cbd5f;
  --accent-secondary: #155a32;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent-primary: #c29d39;
  --accent-secondary: #685111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

.dark .logo {
  filter: invert(1) brightness(2);
}
