@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accentPrimary: #1cbd5f;
  --accentSecondary: #155a32;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accentPrimary: var(--accent-primary);
  --color-accentSecondary: var(--accent-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accentPrimary: #c29d39;
    --accentSecondary: #685111;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
